*{
    margin:0 ;
    padding: 0;
}
body{
    background-color: #F2F1EB;
  }
  .navbar-brand img {
    width: 20%;
    color: orange;
  }
  .navbar-brand{
    font-family: cursive;
   }
  nav{
    position: fixed;
    inset: 0;
    z-index: 999;
    
  }
  
  .navbar-expand-lg .navbar-collapse {
    padding-left: 419px;
   }
   
  h1{
    font-family: sans-serif;
  }
  .card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}
h2{
    font-family: sans-serif;
    margin-top: 22px ;
}

#para{
    width: 80%;
}
   

.d-flex{
  padding-top: 85px;
    width: 90%;
}
.input{
    width: 100%;
}
.blogs img{
    width: 80%;
}
footer{
    color: #1a1919;
    background-color: #EBE3D5;
  }
  h4{
    color:#fb8c24b6;
  }
  footer{
    color: #1a1919;
    background-color: #EBE3D5;
  }
  h4{
    color:#fb8c24b6;
  }
  footer li{
    text-decoration: none;
    list-style: none;
    color: #181817;
  }
  h6{
    text-align: center;
  }
  /* ----------Responsive----------- */
  @media(max-width:1078px){
    h1 {
      font-size: 23px;
  }
  .blogs img {
    width: 76%;
}
.form-group {
  margin-bottom: 1rem;
  width: 100%;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  font-size: 12px;
}
h2 {
  font-size: 18px;
}
h5 {
  font-size: 13px;
}
  }
  @media(max-width:1000px){
    #para {
      width: 77%;
  }
  .h3, h3 {
    font-size: 24px;
}
  }
  @media(max-width:950px){
    .input {
    width: 156%;
}
  }
  @media(max-width:800px){
    .input {
    width: 219%;
}
  }
    @media(max-width:750px){
      h5 {
    font-size: 12px;
}
nav{
  height: 12vh;
}
    }
    @media(max-width:650px){
      .navbar-expand-lg .navbar-collapse {
        padding-left: 100px;
        
    }
    }
    @media(max-width:600px){
      .input {
        width: 266%;
    }
    #para {
      width: 80%;
      font-size: 12px;
  }
  .h3, h3 {
    font-size: 19px;
}
h1 {
  font-size: 18px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.input {
  width: 305%;
}
}
@media(max-width:450px){
  .input {
    width: 363%;
}
.input {
  width: 365%;
}
.h3, h3 {
  font-size: 15px;
}
}
.navbar-toggler-icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
@media(max-width:365px) {
  .navbar-brand img {
    width: 18%;
  }
  .navbar{
    flex-wrap: nowrap;
  }
}

@media(max-width:400px){
  .h3, h3 {
    font-size: 12px;
}
#para {
  width: 80%;
  font-size: 11px;
}
.small, small {
  font-size: 77%;
  font-weight: 400;
}
.input {
  width: 399%;
}
h5 {
  font-size: 10px;
}
}
@media(max-width:300px){
  h1 {
    font-size: 11px;
}
h1 {
  font-size: 17px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 11px;
}

small {
  font-size: 63%;
  font-weight: 400;
}
#para {
  width: 80%;
  font-size: 8px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  /* font-size: 9px; */
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  font-size: 9px;
}
}



  

