*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F1EB;
  }
.d-flex{
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-body:hover img {
    background-color:rgb(255, 230, 0);
    border-radius: 20%;
  }
  .navbar-expand-lg .navbar-collapse {
    padding-left: 419px;
   }
 nav {
    position: fixed;
    inset: 0;
    z-index: 999;
  }

h2{
    font-family: sans-serif;
}
footer{
    color: #1a1919;
    background-color: #EBE3D5;
  }
  h4{
    color:#fb8c24b6;
  }
  footer li{
    text-decoration: none;
    list-style: none;
    color: #181817;
  }
  @media(max-width:705px){
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
      cursor: pointer;
      font-size: 14px;
    }
      .h4, h4 {
        font-size: 21px;
    } 
    .list-unstyled{
      font-size: 13px;
    }
  }
  @media(max-width:660px){
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
      cursor: pointer;
      font-size: 12px;
  }
  .h4, h4 {
    font-size: 19px;
}
  }
  @media(max-width:650px){
    .navbar-expand-lg .navbar-collapse {
      padding-left: 100px;
      
  }
  }
  @media(max-width:660px){
    .h4, h4 {
      font-size: 16px;
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    font-size: 10px;
}
  }
  @media(max-width:575px){
    .h4, h4 {
      font-size: 25px;
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    font-size: 17px;
}
.card-title {
  font-size: 20px;
}
.list-unstyled{
  font-size: 15px;
}
  }
  @media(max-width:456px){
    .navbar-toggler-icon {
     
      width: 18px;
      height: 18px;
    }
  }
  

  

  
 